.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }

nav {
  text-align: center; }
  nav li {
    padding: 0px 5px 0px 5px;
    margin: 2px;
    background-color: #111111;
    border-radius: 8px;
    transition: padding, 1s; }
    nav li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: Georgia, 'Times New Roman', Times, serif; }

li:hover {
  background-color: red; }

.formulario {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px; }
  .formulario .fieldset-1 {
    width: 300px;
    height: 220px; }
  .formulario .fieldset-2 {
    width: 600px;
    height: 100%;
    padding-bottom: 10px; }
  .formulario .fieldset-3 {
    width: 60%; }
    .formulario .fieldset-3 .regis-name {
      margin-bottom: 15px; }

select {
  margin-top: 18px;
  margin-bottom: 18px; }
  select .boton {
    margin-top: 20px; }

legend {
  margin-bottom: 10px; }

.quienes-somos {
  margin: 20px 80px 20px 80px;
  text-align: center;
  font-size: 25px;
  font-family: fuente1; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.img-quienes-somos {
  display: flex;
  justify-content: center; }
  .img-quienes-somos .img2-quienes-somos {
    width: 80%;
    height: auto; }

.donde {
  font-size: 50px;
  font-family: fuente1;
  text-align: center; }

#productos {
  text-align: center;
  background-image: linear-gradient(to right, rgba(219, 219, 219, 0.808), black, black, black, rgba(219, 219, 219, 0.808));
  color: white;
  font-family: fuente1; }

footer {
  margin-top: 50px;
  text-align: center;
  background-color: black;
  color: white; }
  footer .footer-h3 {
    padding-top: 20px;
    font-size: 50px; }

a {
  text-decoration: none;
  color: black; }

.info-imagenes .info {
  margin-top: 30px; }

.info-imagenes .descrip {
  margin-top: 15px;
  font-family: fuente1;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(219, 219, 219, 0.808); }
