*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(219, 219, 219, 0.808);
}

@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/section";