@import "./variables";

footer{
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: map-get($color, blanco);
    .footer-h3{
        padding-top: 20px;
        font-size: 50px;
    }
}