@import "./variables";

.logo{
    @include flex-center;
    margin-bottom: 5px;
}

nav{
    text-align: center;
    li{
        padding: 0px 5px 0px 5px;
        margin: 2px;
        background-color: rgb(17, 17, 17);
        border-radius: 8px;
        transition: padding, 1s;
        a{
            text-decoration: none;
            color: map-get($color, blanco);
            font-size: 18px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
}

li:hover{
    background-color: map-get($color, rojo);
}


