@import "./variables";

.formulario{
    @include flex-center;
    text-align: center;
    margin-top: 30px;
    .fieldset-1{
        width: 300px;
        height: 220px;
    }
    .fieldset-2{
            width: 600px;
            height: 100%;
            padding-bottom: 10px;
    }
    .fieldset-3{
                width: 60%;
                .regis-name{
                    margin-bottom: 15px;
                }
            }
            } 
    select{
        margin-top: 18px;
        margin-bottom: 18px;
        .boton{
            margin-top: 20px;
        }
    }
    legend{
        margin-bottom: 10px;
    }

.quienes-somos{
    margin: 20px 80px 20px 80px;
    text-align: center;
    font-size: 25px;
    font-family: fuente1;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:35%;
    position:relative;
    height:0;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

.img-quienes-somos{
    @include flex-center;
    .img2-quienes-somos{
        width: 80%;
        height: auto;
    }
}

.donde{
    font-size: 50px;
    font-family: fuente1;
    text-align: center;
}

#productos{
    text-align: center;
    background-image: linear-gradient(to right, rgba(219, 219, 219, 0.808), black, black, black, rgba(219, 219, 219, 0.808), );
    color: map-get($color, blanco);
    font-family: fuente1;
}