@import "./variables";

a{
    text-decoration: none;
    color: black;
}

.info-imagenes{
    .info{
        margin-top: 30px;
        }
    .descrip{
        margin-top: 15px;
        font-family: fuente1;
        text-align: center;
    }
}
